* {
  font-family: inherit;
}

.cv-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

input {
  appearance: none;
  outline: none;
  border: 1px solid #ccc;
  padding: 4px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

section h2 {
  padding-bottom: 8px;
}

section > .group {
  padding-bottom: 1rem;
}